<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Glenn's Stuff", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("127.0.0.1", "Index", "Home")</li>
                    <li>@Html.ActionLink("Check us out", "About", "Home")</li>
                    <li>@Html.ActionLink("I want to hear from you", "Contact", "Home")</li>
                    <li>@Html.ActionLink("View Stuff", "Stuff", "Home")</li>
                    <li>@Html.ActionLink("More Stuff", "Index", "Glenn")</li>
                    <li>@Html.ActionLink("My Stuff", "Index", "Stuffs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid"> @*we changed this*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Stuff Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
